.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  width: 260px;
}
input {
  width: 100%;
  height: 25px;
}
button {
  height: 60px;
  width: 300px;
  border-radius: 20px;
  background-color: #ef4f4f;
  color: #fff;
  font-size: 1em;
  border: none;
  outline: none;
  transition: 0.5s;
  box-shadow: 0 6px 0 #bb1542;

  /* padding: 3px 5px;
    border-radius: 2px;
    border: 1px solid transparent; */
}

button:active {
  box-shadow: none;
  transform: translateY(6px);
  /* border: 1px solid black; */
}
